.fullpage{
    height: 100vh;
    background-image: url(./assets/imgMain.jpg);
    background-size: cover;
}

.main{
    text-align: center;
    position: relative;
    top: 33vh;
    height: 33vh;
}

.errorMsg{
    color: red;
}

.navbar{
    background-color: yellow;
    height: 75px;
}

.userTag{
    display: inline-block;
}

.normal-row{
    padding-top: 24px;
}

.hr{
    border-color: black;
    border-width: 2px;
}